<!doctype html>
<html>
<body>
<script src="https://vk.com/js/api/openapi.js" type="text/javascript"></script>

<div id="login_button" onclick="VK.Auth.login(authInfo);"></div>
<script type="text/javascript">
  VK.init({
    apiId: "4893367"
  });
  
     VK.Auth.login(function(response) {
   	console.log(response)
  if (response.session) {
    /* Пользователь успешно авторизовался */
    if (response.settings) {
      /* Выбранные настройки доступа пользователя, если они были запрошены */
    }
  } else {
    /* Пользователь нажал кнопку Отмена в окне авторизации */
  }
  })
  
  function authInfo(response) {
  if (response.session) {
    alert('user: '+response.session.mid);
  } else {
    alert('not auth');
  }
}
  VK.UI.button('login_button');
  VK.Auth.getLoginStatus(authInfo);

</script>
111


</body>
</html>